.App {
width: 100vw;
height: 100vh;
background-color: rgb(255, 255, 255);
}

.Sidebar{

background-color: #dfdfe1;
height: 42rem;
width: 250px;

}

.Footer{
width: 100vw;
 background-color:  #1976d2;
 height: 100px;
 position: relative;
 justify-content: center;
 align-items: center;
;
 display: flex;

}

.icon{

color: white;
margin: 5px;
cursor: pointer;


}

.SidebarList{

  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
}

.SidebarList .row{
cursor: pointer;
width: 95%;
height: auto;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 10px;
line-height: 2rem;
border: 1px solid #c9c5c6 ;
margin: 0;
list-style-type: non;
display: flex;
justify-content: flex-start;
align-items: center;
}


.SidebarList .row:hover{


background-color: #cbcdce;

}

.BookContent{

position: fixed;
left: 17rem;
top: 3rem;
overflow-y: scroll;
height: 70vh ;
max-width: 80vw;

}

body{

padding: 0;
margin: 0;
}


.Addnew{
position:absolute;
top: -4rem;
left: 80rem;
text-transform: none;

}


.PageHeading
{

justify-content: center;
align-items: center;
display: flex;
position: fixed;
top: 0rem;
right: 32rem;
}

.editor{

  position: fixed;
  left: 4rem;
  top: 0rem;
width: 90vw;
height: 40rem;
overflow-y: scroll;


}


.createpage{
height: 85vh;
width: 100vw;
background-color: #ededee;
}